

body {
  display: flex;
  background-image: url("./assets/static/wallhaven.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 11px;
  color: #000000;
}


.keys_container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.key {
  margin: 1rem;
  padding: 2rem;
  backdrop-filter: blur(2px);
  border: solid 1px black;
  border-radius: 4px;
}

.playing{
  transition: 0.3s;
  box-shadow: 3px 3px 8px gray;
  background-color: aqua;
}
