

body {
  display: flex;
  background-image: url("./assets/static/wallhaven.jpg");
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
  min-height: 100vh;
}



.keys_container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  gap: 2rem;
}

.key {
  margin: 1rem;
  padding: 2rem;
  backdrop-filter: blur(1px);
  border:  1px black;
  box-shadow: 0px 0px 8px black;
  border-radius: 4px;
  transition: ease 0.1s;
}

.playing {
  transform: scale(1.2);
  font-size: 24;
  box-shadow: 0px 0px 12px;
  backdrop-filter: blur(2px);
}
